body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  overflow: hidden;
}

h1 {
  margin: 10px 0;
  z-index: 2;
  position: relative;
}

video, canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1); /* Mirror video only */
  max-width: 90vw;
  max-height: 90vh;
  border: 1px solid #555;
  z-index: 1;
}

button#start-calibration {
  background-color: lime;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  transition: background-color .5s;
}
button#start-calibration:hover {
  background-color: green;
  cursor: pointer;
}
